<footer>
  <div class="author-info">
    <ul class="unstyled-list">
      {% if site.author.name -%}
      <li class="p-name">{{ site.author.name | escape }}</li>
      {%- endif %}

      <li>
        email(
        {% if site.author.email.personal -%}
        <a class="u-email" href="mailto:{{ address }}">personal </a>
        {%- endif %}
        {% if site.author.email.business -%}
        <a class="u-email" href="mailto:{{ address }}">business </a>
        {%- endif %}
        {% if site.author.email.school -%}
        <a class="u-email" href="mailto:{{ address }}">school </a>
        {%- endif %}
        )
      </li>


      {% if site.author.github_username -%}
      <li><a href="https://github.com/{{ site.author.github_username }}">
        github        
      </a></li>
      {%- endif %}
    </ul>
  </div>
  
  <i>{{ site.message }}</i>
</footer>